.f_logo:hover {
  cursor: pointer;
}
.page2_footer,
.page3_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-top: 8%;
  margin-left: 12.5%;
}
.page2_footer img,
.page3_footer img {
  width: 66%;
  margin-bottom: 4%;
}
.page2_footer p,
.page3_footer p {
  width: 100%;
  height: auto;
  font-size: 16px;
  font-family: SourceHanSansSC-Medium;
  font-weight: 500;
  color: #003B49;
  line-height: 34px;
  text-align: left;
}
